<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% include partials/nav.ejs %>
  contact  
  <h1>thanks for getting in touch!</h1>
  <p>You contacted: <%= data.name %> departement <%= data.departement %></p>
</body>
</html>