<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  this is ejs
  <h1>Welcome <%= person %></h1>
  <strong><%= data.age %></strong>
  <strong><%= data.job %></strong>

  <ul>
    <% data.hobbies.map((hobby) => { %>
      <li><%= hobby %></li>
    <% }); %>
  </ul>
</body>
</html>